<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/typetalk.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="5Mb" />
		<param name="maxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss.SSS} %p: %m%n" />
		</layout>
	</appender>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss.SSS} %p: %m%n" />
		</layout>
	</appender>

	<logger additivity="false" name="org.typetalk">
		<level value="DEBUG" />
		<appender-ref ref="file" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

</log4j:configuration>		
